<div class=p-5 mb-5 bg-light rounded-3>
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Home Page</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus labore eos magnam, illo harum soluta, commodi totam nesciunt repudiandae in nulla quae deleniti similique quidem aspernatur quod et dolor. Vel.</p>
        <button class="btn btn-success btn-lg">Detay</button>
    </div>

</div>